.main{
    width: 850px;
    height: 400px;
    border: 2px solid purple;
    text-align: center;
    line-height: 300px;
    margin-left: 600px;
    margin-top: 75px;
    vertical-align: top;
    
}
